<!DOCTYPE html>
<html>
	<div class="box-top">
		<i class="icon_logo"></i>
		<p class="title">filemane : mvc.html</p>
		<p>mvc send result</p>
		<div th:text="'sampleNo : ' + ${html_mvc_sample_model.sampleNo}"></div>
		<div th:text="'sampleSeqNo : ' + ${html_mvc_sample_model.sampleSeqNo}"></div>
		<div th:text="'rgstDttm : ' + ${html_mvc_sample_model.rgstDttm}"></div>
		<div th:text="'sampleYn : ' + ${html_mvc_sample_model.sampleYn}"></div>
		<div th:text="'sampleDescription : ' + ${html_mvc_sample_model.sampleDescription}"></div>
	</div>
</html>
